<form method="post" action="{{ path('delete_productSerialized', {'id': productSerialized.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ productSerialized.id) }}">
    <button class="btn">Delete</button>
</form>
