{% extends 'base.html.twig' %}

{% block title %}New ProductSerialized{% endblock %}

{% block body %}
    <h1>Create new ProductSerialized</h1>

    {{ include('product_serialized/_form.html.twig') }}

    <a href="{{ path('app_product_serialized_index') }}">back to list</a>
{% endblock %}
