{% extends 'base.html.twig' %}

{% block title %}Stock Abaques{% endblock %}

{% block body %}

    {% include 'layout/_tabs.html.twig' %}

    <div class="m-4">
        {# PRODUCT #}
        {% include 'home/indexes/_product.html.twig' %}

        {# OUTOFSTOCK #}
        {% include 'home/indexes/_outofstock.html.twig' %}

        {# SUPPLY #}
        {% include 'home/indexes/_supply.html.twig' %}

    </div>

{% endblock %}
