<div class="d-flex align-items-end justify-content-end mb-2">
    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
            data-bs-target="#addOutOfStockModal">
        Ajout de hors stock
    </button>
    <button class="btn btn-outline-danger btn-sm ms-2" id="deleteSelectedRows">Supprimer</button>
    <button class="btn btn-outline-dark btn-sm ms-2">
        <a href="{{ path('export_out_of_stock_pdf') }}" target="_blank" style="text-decoration: none">
            Exporter en PDF
        </a>
    </button>
</div>


