{% extends 'base.html.twig' %}

{% block title %}Edit OutOfStock{% endblock %}

{% block body %}
    <h1>Edit OutOfStock</h1>

    {{ include('out_of_stock/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('out_of_stock') }}">Retour</a>

    {{ include('out_of_stock/_delete_form.html.twig') }}
{% endblock %}
