{% extends 'base.html.twig' %}

{% block title %}New OutOfStock{% endblock %}

{% block body %}
    <h1>Create new OutOfStock</h1>

    {{ include('out_of_stock/_form.html.twig') }}

    <a href="{{ path('out_of_stock') }}">back to list</a>
{% endblock %}
