<form method="post" action="{{ path('delete_product', {'id': product.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir de supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-outline-dark btn-sm">
        <i class="fa-regular fa-trash-can"></i>
    </button>
</form>
