{% extends 'base.html.twig' %}

{% block title %} 📦 STOCK{% endblock %}

{% block body %}

    <div class="container-fluid mt-5 p-5">
        <h2 class="pb-4 text-start font-bold font-up deep-purple-text"> 📦 STOCK</h2>

        {% include 'product/_form.html.twig' %}

        <div class="rounded rounded-3 overflow-hidden">
            <table class="table border border-1 shadow-sm table-hover" style=" border-radius: 15px">
                <thead style="background-color: lightgray;">
                <tr>
                    <th class="text-center">Quantité</th>
                    <th class="text-center">Marque</th>
                    <th class="text-center">Désignation</th>
                    <th class="text-center">Référence</th>
                    <th class="text-center">Numéro de série</th>
                    <th class="text-center">Entrée en stock</th>
                    <td class="text-center fw-bold" colspan="2"></td>
                </tr>
                </thead>
                {% for product in products %}
                    <tbody>
                    {% include 'layout/conditions/productOff.php' %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
