@import "_vars.css";
@import "countdown.css";
@import "details.css";
@import "navbar.css";
@import "pagination.css";
@import "tables.css";
@import "tabs.css";
@import "tags.css";

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    background-color: var(--var-bgc);
}

.btn-dark a {
    background-color: var(--var-first-color);
}

a {
    color: var(--var-white);
}

a:hover {
    color: var(--var-white);
}

.title {
    text-align: start;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.start {
    text-align: start;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

.danger {
    color: var(--var-danger);
    margin-left: 8px;
    margin-right: 8px;
}

.validation {
    color: var(--var-validation);
}

.container {
    margin-top: 45px;
}

.export {
    display: flex;
    align-items: end;
    justify-content: end;
}

.spinner {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #333;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #fff;
    border-radius: 24px;
}

.card img {
    max-width: 280px;
    width: 32vw;
    height: 270px;
    object-fit: cover;
    border-radius: inherit;
}

h2, h3 {
    font-weight: 400;
}

h3, label {
    opacity: .5;
}

.card h2 {
    font-size: 16px;
    margin: 0;
}

.card h2 {
    font-size: 16px;
    margin: 0 0 20px;
}

.card .buttons {
    display: inline-flex;
    gap: 10px;
}

.card .stats var {
    display: block;
    font-size: 26px;
}

@media (width <= 720px) {
    .card {
        margin: 0 40px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .card h2 {
        font-size: 30px;
    }

    .card img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }

    .card .stats var {
        min-width: 90px;
    }
}

