@import "_vars.css";
@import "countdown.css";
@import "navbar.css";
@import "pagination.css";
@import "tables.css";
@import "tabs.css";

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    background-color: var(--var-bgc);
}

.btn-dark a {
    background-color: var(--var-first-color);
}

a {
    color: var(--var-black);
}

a:hover {
    color: var(--var-white);
}

.title {
    text-align: start;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.start {
    text-align: start;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

.danger {
    color: var(--var-danger);
    margin-left: 8px;
    margin-right: 8px;
}

.validation {
    color: var(--var-validation);
}

.container {
    margin-top: 45px;
}

.export {
    display: flex;
    align-items: end;
    justify-content: end;
}
