@import "_vars.css";
@import "countdown.css";
@import "navbar.css";
@import "pagination.css";
@import "tables.css";
@import "tabs.css";

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    background-color: var(--var-bgc);
}

.btn-dark a {
    background-color: var(--var-first-color);
}

a {
    color: var(--var-black);
}

a:hover {
    color: var(--var-white);
}

.title {
    text-align: start;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.start {
    text-align: start;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

.danger {
    color: var(--var-danger);
    margin-left: 8px;
    margin-right: 8px;
}

.validation {
    color: var(--var-validation);
}

.container {
    margin-top: 45px;
}

.export {
    display: flex;
    align-items: end;
    justify-content: end;
}

.spinner {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #333;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
