/* TABLES */

.table {
    border: 1px var(--var-border);
    box-shadow: 1rem .125rem .25rem rgba(var(--var-black), .075);
}

thead {
    background-color: lightgray;
}

tbody {
    background-color: var(--var-white);
}

/* style width: 5% */
.xs-cells {
    width: 2%;
}

/* style width: 20% */
.s-cells {
    width: 4%;
}

/* style width: 25% */
.m-cells {
    width: 12%;
}

/* style width: 33% */
.l-cells {
    width: 33%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table>:not(:first-child) {
    border-top: 0;
}