<div class="d-flex align-items-end justify-content-end mb-2">
    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
            data-bs-target="#addModal">
        <i class="fa-solid fa-plus"></i>
        Ajout de stock
    </button>
    <a href="{{ path('') }}" target="_blank" class="btn btn-dark btn-sm ms-2"
       style="text-decoration: none;">
        <i class="fa-solid fa-file-export"></i>
        Exporter en PDF
    </a>
</div>
