<div class="card rounded rounded-0">
    <div class="heading text-center">
        <div class="head1">Retrouvez tous vos outils Abaques</div>
        <p class="bdr"></p>
    </div>
    <div class="card-body">
        <div class="row m-0 pt-5">
            <div class="card col-12 col-md-3">
                <div class="card-content">
                    <i class="fas fa-hand-holding-usd fa-3x"></i>
                    <div class="card-title">
                        Gérer les commandes clients
                    </div>
                    <p><small>L'outil principal de Gestion des commandes clients</small></p>
                    <div class="learn-more">
                        <p>
                            <small>
                                <label><a class="text-decoration-none learn-more" target="_blank "
                                          href="https://www.abaques-si.eu/app/login/?next=/app/">
                                        SI ABAQUES
                                    </a>
                                    <i class="fas fa-angle-right"></i>
                                </label>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-3">
                <div class="card-content">
                    <i class="far fa-handshake fa-3x"></i>
                    <div class="card-title">
                        Retrouvez tous vos emails.
                    </div>
                    <p><small>Client de courrier électronique propriétaire</small></p>
                    <div class="learn-more">
                        <p>
                            <small>
                                <label>
                                    <a class="text-decoration-none learn-more" target="_blank" href="https://outlook.office365.com/mail/">
                                        OUTLOOK
                                    </a>
                                    <i class="fas fa-angle-right"></i>
                                </label>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-3">
                <div class="card-content">
                    <i class="fas fa-mobile-alt fa-3x"></i>
                    <div class="card-title">
                        Plateforme de gestion du travail
                    </div>
                    <p><small>Planning des réceptions et des intégrations</small></p>
                    <div class="learn-more">
                        <p>
                            <small>
                                <label><a class="text-decoration-none learn-more" target="_blank" href="https://www.wrike.com/workspace.htm?acc=5860969&wr=20#/single-calendar/?id=1535406&spaceId=1035399198">WRIKE</a><i
                                            class="fas fa-angle-right"></i></label>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-3">
                <div class="card-content">
                    <i class="fas fa-user-secret fa-3x"></i>
                    <div class="card-title">
                        Planning des évènements Abaques
                    </div>
                    <p><small>Tableur Excel de la suite Office</small></p>
                    <div class="learn-more">
                        <p>
                            <small>
                                <label><a class="text-decoration-none learn-more" target="_blank" href="https://abaques.sharepoint.com/:x:/r/sites/LIVE/_layouts/15/doc2.aspx?sourcedoc={80E72471-39C7-4906-AEB7-AA99A84443A0}&file=PLANNINGPERSONNEL2023BORDEAUX.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&cid=79422cf3-e12b-48a3-a119-1de0cd3e0341&CID=aa1a4fde-ade9-d2af-cd74-dcfb592dd688">PLANNING LIVE</a><i
                                            class="fas fa-angle-right"></i></label>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
