<div class="mx-auto bg-gray-100 rounded-lg">
    <div class="box-rebours">
        <div class="box_jour rounded-start overflow-hidden">
            <div id="jour">00</div>
            <span id="jour_label">Jours</span>
        </div>
        <div class="box_heure">
            <div id="heure">00</div>
            <span id="heure_label">Heures</span>
        </div>
        <div class="box_minute">
            <div id="minute">00</div>
            <span id="minute_label">Minutes</span>
        </div>
        <div class="box_seconde rounded-end overflow-hidden">
            <div id="seconde">00</div>
            <span id="seconde_label">Secondes</span>
        </div>
    </div>
    <p class="small fst-italic" style="color: white">avant le prochain inventaire</p>
</div>

{% include 'layout/script/countdown.html.twig' %}