<div class="container mt-5">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link link text-black" aria-current="page" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link text-black" href="{{ path('product') }}">Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link text-black" href="{{ path('out_of_stock') }}">Hors-Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link text-black" href="#">Fournitures</a>
        </li>
    </ul>
</div>